<div>
  <div class="guzhong">
    <nz-layout class="beijin">
      <nz-content class="beijin tupian">
        <nz-avatar [nzSize]="84" nzIcon="user"></nz-avatar>
      </nz-content>
      <nz-footer class="beijin bottom">
        <input nz-input placeholder="Basic usage" [(ngModel)]="value" [nzSize]='small' />

      </nz-footer>
      <nz-footer class="beijin bottom">
        <input nz-input placeholder="Basic usage" [(ngModel)]="value" [nzSize]='small' />

      </nz-footer>
      <nz-footer class="beijin bottom">
        <button nz-button nzType="primary" nzBlock>登入</button>
      </nz-footer>
    </nz-layout>

  </div>

</div>